/* TODO:
    - Layout the items using grid
    Sidebar:
        - Align the items vertically, and to the left
    Header:
        - Align all items inside horizontally and centered, and separate the two sides
    Main:
        - Layout the items using grid
        - In the first article section, dynamically layout the items, and align the texts to the left
        - In the second article section, align the items vertically and centered, separated by border-bottom, except if its the last child
        - In the third article section, align the items vertically and centered, align the dividers appropriately
*/

@import url("../fonts/Roboto-Font/stylesheet.css");

* {
    font-family: robotoregular;
}

:root {
    --icon-size: 25px;
    --small-icon-size: calc(var(--icon-size) - 10);
    --main-color: rgb(47, 0, 255);
    --dark-main-color: hsl(251, 75%, 25%);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grid-item-1 button {
    padding: 12px 24px;
    background-color: var(--main-color);
    color: white;
    border: 0;
    border-radius: 25px;
}

.grid-item-1 button:hover {
    background-color: var(--dark-main-color);
}

body {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
    background-color: var(--main-color);
}

#sidebar > div:first-of-type {
    padding: 25px;
}

#sidebar * {
    color: white;
}

#sidebar a:hover {
    text-decoration: none;
    background-color: var(--dark-main-color);
}

#sidebar > div:first-of-type,
#sidebar div > a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 25px;
}

#sidebar > div {
    margin-bottom: 25px;
}

#sidebar img {
    height: 50px;
    width: 50px;
}

#sidebar a > img {
    height: var(--icon-size);
    width: var(--icon-size);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

header .side,
header .right-side > a:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 16px;
}

header img {
    border-radius: 25px;
    height: var(--icon-size);
    width: var(--icon-size);
}

header input {
    border-radius: 25px;
    border: 1px solid rgb(68, 68, 68);
    padding: 8px 16px;
    width: 400px;
}

header a:nth-of-type(2) > img {
    height: calc(var(--icon-size) + 10px);
    width: calc(var(--icon-size) + 10px);
}

main {
    display: flex;
    flex-direction: column;
}

main > .grid-item-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.grid-item-1 .side {
    display: flex;
    gap: 8px;
}

.grid-item-1 img {
    border-radius: 25px;
    height: 100px;
}

h6 {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.grid-item-1 * {
    margin: 0;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 24px;
}

main > .grid-item-2 {
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    grid-template-areas:
      "articles sidebar1"
      "articles sidebar2";
    background-color: hsl(250, 100%, 92.5%);
    padding: 0 24px;
    gap: 25px;
}

.grid-item-2 .articles-1 {
    grid-area: articles;
}

.grid-item-2 .articles-2 {
    grid-area: sidebar1;
}

.grid-item-2 .articles-3 {
    grid-area: sidebar2;
}

.grid-item-2 section > h3 {
    font-size: 20px;
}

.articles-1 .articles {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 25px;
}